<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
  <title>{{ question.title }}</title>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Circle-icons-rocket.svg/1200px-Circle-icons-rocket.svg.png" width = "50" height = "50" alt="">
      Skyrocket SQL Career
    </a>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'index' %}">Problems</a>
      </li>
        <li class="nav-item">
        <a class="nav-link active" href="#">Topics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Contests</a>
      </li>
    </ul>
</nav>

<div class = "container">
    <div class = "row" >
        <div class = "col-6 col-sm-3">
            <h1>{{question.title}} <span class="badge badge-primary">{{ question.difficulty }}</span> </h1>
            <p>{{question.text}}</p>
        </div>
        <div class = "col-12 col-sm-9">
            <form action="{% url 'problem' question.id %}" method="post">
            {% csrf_token %}
            {{ form }}
                <div style="margin-top:10px;">
                    <button type="submit" name="send" class="btn btn-primary">Submit</button>
                </div>
            </form>
            {% if isCorrect == "correct" %}
                <div class="alert alert-success" role="alert">
                    Compiled Successfully!
                </div>
            {% elif isCorrect == "incorrect" %}
                <div class="alert alert-danger" role="alert">
                    Error in query
                </div>
            {% endif %}
        </div>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>